<h1>New message to <%= @receiver.first_name %></h1>
<div class="pull-right">
	
<%= form_for @message do |f| %>
  <%= hidden_field_tag 'receiver_id', @receiver.id %>
  
  <%= f.label :body %>
  <%= f.text_area :body ,rows:1, class: 'form-control' , autofocus: true %>

  <%= f.submit %>
 
<% end %>
</div>