<h1>Chatting with <%= @conversation.with(current_user).first_name %></h1>

<div id="conversation-main"  class="pull-right">
  
  <div id="conversation-body pull-left">
	<%= render @conversation.messages %>
 
  
  </div>
  <div >

  <%= form_for @message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.label :body %>
    <%= f.text_area :body , rows: 1 , class: "form-control",autofocus: true%>

    <%= f.submit %>
  <% end %>
  </div>
</div>